/cloud-oauth2-server/.classpath
/cloud-oauth2-server/.project
/cloud-oauth2-server/.settings
/cloud-oauth2-server/target
/cloud-parent/.project
/cloud-parent/.settings
/cloud-service-frame/target
/cloud-service-frame/.classpath
/cloud-service-frame/.project
/cloud-service-frame/.settings
/.metadata
/RemoteSystemsTempFiles
